<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <clear />
        <add name="IngresConnectionString"
            connectionString="Database=aspnetdb;"
            providerName="Ingres.Client" />
    </connectionStrings>
    <system.web>
        <machineKey
            validationKey="69386FBCB830F68F166397DDB27C0AF63036EE35519BE4BCD5D31DCC75B09260F68BF8991319BBBA8E76AB2870B2CCF7E75E58496237496389CDDDD7DEB3FE04"
            decryptionKey="9A86FC502A6CF951B62A847DB83104F7F478E012111ECE000DCCF98F46189E9D"
            validation="SHA1"
            decryption="AES"/>        
        <!--
        Settings for the Ingres ASP.NET Role Provider
        -->
        <roleManager enabled="true"
                     defaultProvider="IngresRoleProvider"
                     cacheRolesInCookie="true"
                     cookieName="IngresRoleCookie">
            <providers>
                <clear/>
                <add name="IngresRoleProvider"
                     type="Ingres.Web.Security.IngresRoleProvider, IngresAspNetProviders"
                     connectionStringName="IngresConnectionString"
                     applicationName="IngresRoleProvider Test Fixture"/>
            </providers>
        </roleManager>
        <!--
        Settings for the Ingres ASP.NET Membership Provider
        -->
        <membership defaultProvider="IngresMembershipProvider" userIsOnlineTimeWindow="15">
            <providers>
                <clear />
                <add
                    name="IngresMembershipProvider"
                    type="Ingres.Web.Security.IngresMembershipProvider, IngresAspNetProviders"
                    connectionStringName="IngresConnectionString"
                    applicationName="IngresMembershipProvider Test Fixture"
                    enablePasswordRetrieval="true"
                    enablePasswordReset="true"
                    requiresQuestionAndAnswer="true"
                    requiresUniqueEmail="true"
                    passwordFormat="Hashed"
                    maxInvalidPasswordAttempts = "2"/>
            </providers>
        </membership>
    </system.web>  
</configuration>