<?xml version="1.0"?>
<configuration>
    <appSettings/>
    <!--
        Connection Strings.
    -->
	<connectionStrings>
		<clear/>
		<add name="IngresConnectionString"
             connectionString="Database=demowebapplication;"
             providerName="Ingres.Client"/>
	</connectionStrings>
	<system.web>
        <!--
        The machine key used for encryption.
        
        For security reasons you should generate new keys before deploying on a 
        production website!
        -->
        <machineKey
            validationKey="69386FBCB830F68F166397DDB27C0AF63036EE35519BE4BCD5D31DCC75B09260F68BF8991319BBBA8E76AB2870B2CCF7E75E58496237496389CDDDD7DEB3FE04"
            decryptionKey="9A86FC502A6CF951B62A847DB83104F7F478E012111ECE000DCCF98F46189E9D"
            validation="SHA1"
            decryption="AES"/>
        <!--
        We want to maintain scroll position on post backs.
        -->
        <pages maintainScrollPositionOnPostBack="true" />
        <!--
        We want to use Forms authentication (rather than none, windows or passport).
        -->
        <authentication mode="Forms" />
        <!--
        Settings for the Ingres ASP.NET Role Provider.
        
        To use the assemby in the GAC substitute the following fully qualified type name for the role provider type.
        type="Ingres.Web.Security.IngresRoleProvider, IngresAspNetProviders, Version=1.0.0.0, Culture=neutral, PublicKeyToken=c620b6ce9c387086"
        
        -->
		<roleManager
            enabled="true"
            defaultProvider="IngresRoleProvider"
            cacheRolesInCookie="true"
            cookieName="IngresRoleCookie">
			<providers>
				<clear/>
				<add
                    name="IngresRoleProvider"
                    type="Ingres.Web.Security.IngresRoleProvider, IngresAspNetProviders"
                    connectionStringName="IngresConnectionString"
                    applicationName="DemoWebApplication"/>
			</providers>
		</roleManager>
		<!--
        Settings for the Ingres ASP.NET Membership Provider.
        
        To use the assemby in the GAC substitute the following fully qualified type name for the membership provider type.
        type="Ingres.Web.Security.IngresMembershipProvider, IngresAspNetProviders, Version=1.0.0.0, Culture=neutral, PublicKeyToken=c620b6ce9c387086"
        -->
		<membership
            defaultProvider="IngresMembershipProvider"
            userIsOnlineTimeWindow="15">
			<providers>
				<clear/>
				<add
                    name="IngresMembershipProvider"
                    type="Ingres.Web.Security.IngresMembershipProvider, IngresAspNetProviders"
                    connectionStringName="IngresConnectionString"
                    applicationName="DemoWebApplication"
                    enablePasswordRetrieval="true"
                    enablePasswordReset="true"
                    requiresQuestionAndAnswer="true"
                    requiresUniqueEmail="true"
                    passwordFormat="Hashed"/>
			</providers>
		</membership>
        <!--
        Allow debugging.
        -->
        <compilation debug="true"/>
    </system.web>
    <!--
    Ensure the authenticated directory can only be accessed by authenticated users.
    -->
    <location
        path="Authenticated">
        <system.web>
            <authorization>
                <deny
                    users="?"/>
            </authorization>
        </system.web>
    </location>
    <!--
    Mail settings. These should be changed as appropriate on a site-by-site basis. 
    -->
    <system.net>
        <mailSettings>
            <smtp deliveryMethod="SpecifiedPickupDirectory" from="mymail@address.com">
                <specifiedPickupDirectory pickupDirectoryLocation="c:\temp\"/>
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
